$blue: #00c0ff;
$top-margin: 2em;

html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;

    .container .content {
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;

        .the-alphabet, .underscore {
            display: inline-block;
            padding: 1em;
        }

        .underscore {
            margin-top: $top-margin;
            font-size: 200%;
        }

        .the-alphabet {
            border-style: none none solid none;
            border-color: $blue;
            font-size: 110%;
        }
    
        h1 {
            font-size: 250%;
            margin-top: $top-margin;
        }

        .alphabet-info {
            margin-top: $top-margin;
        }

        #start {
            font-size: 130%;
            border-radius: 5px;
            padding: 6px 12px;
            border-style: none;
            background-color: $blue;
            color: white;
        }

        .lives {
            margin-top: $top-margin;
            font-size: 150%;
        }

        .winner, .game-over {
            margin-top: $top-margin;
        }
    }
}
